/*--------------------------------------------- IMPORTAÇÃO DE FONTES. -------------------------------------------*/
@font-face {
  font-family: 'open-sans';
  src: url('OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('BebasNeue-Light.ttf') format('truetype');
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*--------------------------------------------- HEADER PADRÃO (NÃO ALTERAR!) -------------------------------------------*/
div#cabecalho {
  position: relative;
  background-color: #00511C;
  color: white;
  margin: 0;
  padding: 10px;
  height: 110px;
}

div#cabecalho img {
  float: left;
  margin-left: 5%;
  margin-top: 5px;
  width: 80px;
}

h3#escol {
  font-family: 'open-sans';
  margin-left: 12%;
  margin-top: 1%;

}

h3#escol1 {
  font-family: 'Bebas Neue', sans-serif;
  margin-left: 12%;
  margin-top: -1%;
  font-size: 230%;
}

div#complemento {
  background-color: #FFBD00;
  padding: 7px;
}

div#navegacao {
  background-color: #D1E2C8;
  margin-left: -10px;
  color: #00511C;
}

nav#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'open-sans1';
  font-size: 120%;
  height: 38px;
}

#drop {
  position: relative;
  font-weight: bolder;
  display: flex;
  align-items: center;
  height: 38px;
  border-bottom: 5px solid darkgreen;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
}

#drop::after {
  content: '';
  position: absolute;
  background: #00511C;
  left: 14px;
  bottom: 0;
  width: 80%;
  height: 2px;
  opacity: 0;
  transition: .3s ease;
  margin-top: -10px;
}

#drop:hover::after {
  opacity: 1;
  transform: translateY(8px);
}

.button {
  font-family: 'open-sans';
  cursor: pointer;
  text-decoration: none;
  color: darkgreen;
  font-weight: bolder;
  margin-left: 2%;
  margin-right: 2%;
}

.button#pagina {
  border-bottom: 5px solid darkgreen;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-decoration: none;
}

img#select {
  width: 10px;
  height: 10px;
  float: right;
  margin-top: -12%;
  margin-right: 6%;
}

.seta {
  font-size: 15px;
  padding: 0px;
  margin-left: 5px;
  height: 70%;
  margin-top: 22px;
}

.menu-drop a:hover {
  background: #085537;
  color: #fff;
}

button[name="drop"] {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-size: 100%;
  color: darkgreen;
  font-family: 'open-sans';
  margin-right: 5%;
}

.menu-drop {
  display: inline-block;
  position: relative;
  height: 40px;
}

.drop-content {
  display: none;
  background-color: #D1E2C8;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  margin-top: 1px;
  font-family: 'open-sans';

}

.drop-content a {
  color: darkgreen;
  padding: 8px 10px;
  background-color: #D1E2C8;
  text-decoration: none;
  display: block;
  border-bottom: #085537;
  border-radius: 10px;
  font-weight: bolder;
}


.menu-drop:hover .drop-content {
  display: block;
  border-bottom: #D1E2C8;
}

.menu-drop:hover button[name="drop"] {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border-bottom: #085537;
}

.show-nav {
  display: none;
}

/*--------------------------------------------- MENU RESPONSIVO (NÃO ALTERAR!) -----------------------------------------*/
.responsive {
  background: linear-gradient(to right, #ffffff 4px, transparent 4px);
  background-color: #03501e;
}

.responsive-nav:hover i {
  color: #e61212;
  /* Cor desejada ao passar o mouse sobre o ícone */
}

.responsive-nav {
  transition: .5s;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0 0 0 0;
  background-color: #003a14;
  z-index: 5;
  width: 50%;
  height: 100%;
  left: -100vw;
  transition: all 0s;
  max-height: 100%;
  /* Defina a altura máxima desejada para a div */
  overflow: auto;
  /* Isso adicionará uma barra de rolagem quando o conteúdo exceder a altura máxima */
}

.qualquer {
  transition: .5s;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0 0 0 0;
  background-color: #00000000;
  z-index: -2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1.5s;
  max-height: 100%;
  /* Defina a altura máxima desejada para a div */
  overflow: auto;
  /* Isso adicionará uma barra de rolagem quando o conteúdo exceder a altura máxima */
  scrollbar-width: thin;
}

.responsive-nav a {
  text-decoration: none;
  width: 100%;
  text-indent: 10px;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  transition: linear .3s;
  margin-bottom: 2px;
  margin-top: 2px;
}

.responsive-nav a:hover {
  color: #00511C;
  background-color: #D1E2C8;
}

.responsive-nav a {
  font-family: 'open-sans';
}

.black-bar {
  width: 90%;
  background-color: #002c0f;
  border-radius: 20px;
  height: 5px;
  transition: .4s;
}



/*--------------------------------------------- RESOLUÇÃO MENU RESPONSIVO (NÃO ALTERAR!) -----------------------------------------*/

@media (max-width: 560px) {
  .show-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 35px;
    height: 35px;
    margin-left: .9em;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .rotate-0 {
    rotate: 45deg;
    translate: 0 7px;
  }

  .rotate-1 {
    display: none;
  }

  .rotate-2 {
    translate: 0 -7px;
    rotate: -45deg;
  }

  nav#nav {
    display: none;
  }

  .ativo1 {
    opacity: 1;
    background-color: #00000081;
    z-index: 2;
  }

  .ativo {
    left: 0;
  }

  .desativado {
    display: none;
  }
}

@media (max-width: 485px) {
  .responsive-nav {
    width: 65%;
  }

}

@media (max-width: 380px) {
  .responsive-nav {
    width: 82%;
  }

}

/*--------------------------------------------- CONTENT PADRÃO DO SITE (NÃO ALTERAR!) -----------------------------------------*/
/*
tutorial content:
a classe content deve ser posta entre as divs do header e footer, sendo customizada da seguinte forma:
.content{
  position: relative;
  flex-grow: 1;
}
*/
.content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'open-sans';
  font-size: 90%;
}

#a {
  text-decoration: none;
}

/*
  --------------------------------------------- CONTENT (ADICIONE AQUI O CONTEÚDO DA PAGINA) ----------------------------------------------
*/

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.edital {
  width: 100%;
  height: 100%;
  min-height: 280px;

}

.edital iframe {
  width: 100%;
  height: 100%;
  margin-left: 0%;
}

.regimento {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 280px;
}

.regimento iframe {
  width: 80%;
  height: 100%;
  margin-left: 40px;
  margin-top: 25px;
}

.pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 0;
  position: relative;
  margin-right: 0%;
  margin-bottom: 5%;
}

@media (max-width: 435px) {
  .pdf {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }
}

a#pagina {
  border-bottom: 5px solid #006400;
  border-top: 5px solid #006400;
  background-color: #00511C;
  color: #fff;
}

/*
  --------------------------------------------- CONFIGURAÇÃO BUTÕES REDES SOCIAIS (NÃO ALTERAR!) ----------------------------------------------
*/
.social-buttons {
  position: fixed;
  bottom: 100px;
  right: 20px;
  transition: bottom 0.3s;
  /* Adicione a regra de transição aqui */
}

.social-buttons a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  background-color: #00511c;
  /* Cor do WhatsApp */
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-buttons img {
  width: 35px;
  justify-content: center;
  margin-top: 7px;
}

.social-buttons a.instagram-button {
  background-color: #00511c;
  /* Cor do Instagram */
}

.social-buttons a:hover {
  background-color: #128C7E;
  /* Cor de destaque ao passar o mouse */
}

/*--------------------------------------------- RESOLUÇÃO BUTÕES REDES SOCIAIS (NÃO ALTERAR!) -----------------------------------------*/
@media (max-width: 560px) {
  .social-buttons {
    display: none;
  }
}

/* ----------------------------------- FOOTER PADRÃO DO SITE (NÃO ALTERAR) ---------------------------------------*/
footer {
  position: relative;
  background: #00511C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  padding-bottom: 13px;
  z-index: 6;
}

.div_foot {
  margin-left: 30px;
  margin-right: 30px;
}

.div_foot .titulo_endereco,
.div_foot .titulo_sobre {
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  margin-right: 5px;
  font-size: 25px;
  font-weight: 900;
  height: 20px;
}

.flex_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: 40px;
}

.flex_container h1 {
  text-align: center;
  margin-top: 7px;
  height: 50px;
}

.div_foot {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
}

.barramarelo {
  height: 25px;
  width: 5px;
  background: #FFBD00;
  margin-right: 15px;
  border-radius: 10px;
}

footer p {
  margin: 0;
  margin-top: 3px;
  font-size: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:visited {
  color: white;
  text-decoration: none;
}

#sobre {
  margin-top: 6px;
}

#endereco {
  margin-top: 6px;
}