/*--------------------------------------------- IMPORTAÇÃO DE FONTES. -------------------------------------------*/
@font-face {
  font-family: 'open-sans';
  src: url('OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('BebasNeue-Light.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/*--------------------------------------------- HEADER -------------------------------------------*/
div#cabecalho {
  position: relative;
  background-color: #00511C;
  color: white;
  margin: 0;
  padding: 10px;
  height: 110px;
}

#cabecalho img {
  float: left;
  margin-left: 5%;
  margin-top: 5px;
  width: 80px;
}

h3#escol {
  font-family: 'open-sans';
  margin-left: 12%;
  margin-top: 1%;

}

h3#escol1 {
  font-family: 'Bebas Neue', sans-serif;
  margin-left: 12%;
  margin-top: -1%;
  font-size: 230%;
}

div#complemento {
  background-color: #FFBD00;
  padding: 7px;
}

div#navegacao {
  background-color: #D1E2C8;
  margin-left: -10px;
  color: #00511C;
}

nav#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'open-sans1';
  font-size: 120%;
  height: 38px;
}

#drop {
  position: relative;
  font-weight: bolder;
  display: flex;
  align-items: center;
  height: 38px;
}

#drop::after {
  content: '';
  position: absolute;
  background: #00511C;
  left: 14px;
  bottom: 0;
  width: 80%;
  height: 2px;
  opacity: 0;
  transition: .3s ease;
  margin-top: -10px;
}

#drop:hover::after {
  opacity: 1;
  transform: translateY(8px);
}

.button {
  font-family: 'open-sans';
  cursor: pointer;
  text-decoration: none;
  color: darkgreen;
  font-weight: bolder;
  margin-left: 2%;
  margin-right: 2%;
}

img#select {
  width: 10px;
  height: 10px;
  float: right;
  margin-top: -12%;
  margin-right: 6%;
}

.seta {
  font-size: 15px;
  padding: 0px;
  margin-left: 5px;
  height: 70%;
  margin-top: 22px;
}

.menu-drop a:hover {
  background: #085537;
  color: #fff;
}

button[name="drop"] {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-size: 100%;
  color: darkgreen;
  font-family: 'open-sans';
  margin-right: 5%;
}

.menu-drop {
  display: inline-block;
  position: relative;
  height: 40px;
}

.drop-content {
  display: none;
  background-color: #D1E2C8;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  margin-top: 1px;
  font-family: 'open-sans';

}

.drop-content a {
  color: darkgreen;
  padding: 8px 10px;
  background-color: #D1E2C8;
  text-decoration: none;
  display: block;
  border-bottom: #085537;
  border-radius: 10px;
  font-weight: bolder;
}


.menu-drop:hover .drop-content {
  display: block;
  border-bottom: #D1E2C8;

}

.menu-drop:hover button[name="drop"] {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border-bottom: #085537;
}


.show-nav {
  display: none;
}

/*--------------------------------------------- MENU RESPONSIVO (NÃO ALTERAR!) -----------------------------------------*/
.responsive {
  background: linear-gradient(to right, #ffffff 4px, transparent 4px);
  background-color: #03501e;
}

.responsive-nav:hover i {
  color: #e61212;
  /* Cor desejada ao passar o mouse sobre o ícone */
}

.responsive-nav {
  transition: .5s;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0 0 0 0;
  background-color: #003a14;
  z-index: 5;
  width: 50%;
  height: 100%;
  left: -100vw;
  transition: all 0s;
  max-height: 100%;
  /* Defina a altura máxima desejada para a div */
  overflow: auto;
  /* Isso adicionará uma barra de rolagem quando o conteúdo exceder a altura máxima */
}

.qualquer {
  transition: .5s;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0 0 0 0;
  background-color: #00000000;
  z-index: -2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1.5s;
  max-height: 100%;
  /* Defina a altura máxima desejada para a div */
  overflow: auto;
  /* Isso adicionará uma barra de rolagem quando o conteúdo exceder a altura máxima */
  scrollbar-width: thin;
}

.responsive-nav a {
  text-decoration: none;
  width: 100%;
  text-indent: 10px;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  transition: linear .3s;
  margin-bottom: 2px;
  margin-top: 2px;
}

.responsive-nav a:hover {
  color: #00511C;
  background-color: #D1E2C8;
}

.responsive-nav a {
  font-family: 'open-sans';
}

.black-bar {
  width: 90%;
  background-color: #002c0f;
  border-radius: 20px;
  height: 5px;
  transition: .4s;
}



/*--------------------------------------------- RESOLUÇÃO MENU RESPONSIVO (NÃO ALTERAR!) -----------------------------------------*/

@media (max-width: 560px) {
  .show-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 35px;
    height: 35px;
    margin-left: .9em;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .rotate-0 {
    rotate: 45deg;
    translate: 0 7px;
  }

  .rotate-1 {
    display: none;
  }

  .rotate-2 {
    translate: 0 -7px;
    rotate: -45deg;
  }

  nav#nav {
    display: none;
  }

  .ativo1 {
    opacity: 1;
    background-color: #00000081;
    z-index: 2;
  }

  .ativo {
    left: 0;
  }

  .desativado {
    display: none;
  }
}

@media (max-width: 485px) {
  .responsive-nav {
    width: 65%;
  }

}

@media (max-width: 380px) {
  .responsive-nav {
    width: 82%;
  }

}

/*--------------------------------------------- CONTENT ---------------------------------------------*/
/*

tutorial content:
a classe content deve ser posta entre as divs do header e footer, sendo customizada da seguinte forma:
.content{
  position: relative;
  flex-grow: 1;
}
*/
.content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.all-cursos {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 75vh;
  margin-right: 25px;
  margin-left: 25px;
  font-family: 'open-sans';
  /* margin-top: 150px; */
}

.all-cursos a {
  text-decoration: none;
}

.hero {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

.cursos {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tela-curso-enfer {
  margin: 0;
  width: 250px;
  height: 150px;
  background-color: #009F78;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.66);
  transition: 0.5s;
}

.tela-curso-est {
  margin: 0;
  width: 250px;
  height: 150px;
  background-color: #7C00B6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.66);
  transition: 0.5s;
}

.tela-curso-fin {
  margin: 0;
  width: 250px;
  height: 150px;
  background-color: #00511C;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.66);
  transition: 0.5s;
}

.tela-curso-infor {
  margin: 0;
  width: 250px;
  height: 150px;
  background-color: #022657;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.66);
  transition: 0.5s;
}

.tela-curso:hover {
  transition: 0.5s;
  box-shadow: -5px 7px 15px 0px rgba(0, 0, 0, 0.65);
}

.informatica,
.enfermagem,
.financas,
.estetica {
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.informatica,
.enfermagem,
.estetica,
.financas,
strong.titu-enfer {
  color: #009F78;
  text-align: center;
  font-size: 1.5rem;
}

.informatica,
.enfermagem,
.estetica,
.financas,
strong.titu-est {
  color: #7C00B6;
  text-align: center;
  font-size: 1.5rem;
}

.informatica,
.enfermagem,
.estetica,
.financas,
strong.titu-fin {
  color: #00511C;
  text-align: center;
  font-size: 1.5rem;
}

.informatica,
.enfermagem,
.estetica,
.financas,
strong.titu-infor {
  color: #022657;
  text-align: center;
  font-size: 1.5rem;
}

.hr-enfer {
  width: 60px;
  /* border-color: #FFBD00; */
  border: 0.5px solid #009F78;
}

.hr-est {
  width: 60px;
  /* border-color: #FFBD00; */
  border: 0.5px solid #7C00B6;
}

.hr-fin {
  width: 60px;
  /* border-color: #FFBD00; */
  border: 0.5px solid #00511C;
}

.hr-infor {
  width: 60px;
  /* border-color: #FFBD00; */
  border: 0.5px solid #022657;
}

.text {
  margin-top: 10px;
}

.logos {
  width: 110px;
  margin-top: 25px;
  filter: brightness(0) invert(1);
}


.curso-div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
  width: 95%;
  min-height: 70vh;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #002c0f;
}

.curso-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  min-width: 350px;

}

.curso-img.enfer {
  /* 1 - 1.5 */
  width: 80%;
  padding-bottom: 53.5%;
  background: url("./imgs/lei_enfer_banner.webp");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.curso-img.fin {
  width: 80%;
  padding-bottom: 53.5%;
  background: url("./imgs/lei_fin_banner.webp");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.curso-img.este {
  width: 80%;
  padding-bottom: 53.5%;
  background: url("./imgs/lei_este_banner.webp");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.curso-img.infor {
  width: 80%;
  padding-bottom: 53.5%;
  background: url("./imgs/lei_infor_banner.webp");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.curso-right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 45%;
}

.titulo-curso {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  color: #00511C;
}

.texto-right {
  color: #00511C;
  text-indent: 20px;
  font-size: 25px;
  margin: 30px;
}

.botoes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  gap: 15px;
  font-weight: 600;
}

.button-div {
  cursor: pointer;
  color: white;
  background-color: #085537;
  padding: 10px 18px 10px 18px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  transition: background-color .5s;
  user-select: none;
  max-width: 900px;

}

.button-div:hover {
  background-color: #002c0f;
}

.black-curtain {
  display: none;
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 900;
}

h4 {
  color: rgb(197, 184, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.showing {
  display: block;
  transform: all 0s;

}

.button-content {
  display: none;

}

.button-div.showing {
  cursor: auto;
  position: fixed;
  z-index: 901;
  top: 10%;
  width: 90%;
  height: auto;
  padding-bottom: 20px;
  font-size: larger;
  background-color: transparent;
}

.button-div-aulas.showing {
  max-width: 800px;
  padding-left: 30px;
  padding-right: 30px;


}

.showing.button-div-aulas .button-content {
  display: block;
  height: 100px;
  width: 100%;
  min-width: 300px;
  padding-bottom: 53%;
  margin-top: 10px;
}

.showing.button-div-aulas .button-content {
  overflow: hidden;
}

#button-div-grade-enfer .button-content {
  background: url("./imgs/grad_img_enfer.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#button-div-grade-infor .button-content {
  background: url("./imgs/grad_img_infor.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#button-div-grade-este .button-content {
  background: url("./imgs/grad_img_este.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#button-div-grade-fin .button-content {
  background: url("./imgs/grad_img_fin.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.showing .professores {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: auto;
  overflow: auto;
  max-height: 90vh;
}

.showing .professor:last-child {
  margin-bottom: 90px;
}

.professor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  min-width: 100px;
  width: 100%;
  background-color: #002c0f;
  border-radius: 20px;
  margin-top: 20px;
}

.imglab {
  width: 100%;

}

.slider-btn {
  cursor: pointer;
  width: auto;
  color: rgb(0, 0, 0);
  height: 60px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.slider-space {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0%;
}

.slider-space.left {
  left: 5px;
}

.slider-space.right {
  right: 5px;
}

/* setting the position of the previous button towards left */
.previous {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* setting the position of the next button towards right */
.next {

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* On hover, adding a background color */
.previous:hover,
.next:hover {
  color: rgb(255, 253, 253);
  background-color: rgba(0, 0, 0, 0.8);
}

.prof1-img-enfe {
  background: url("./imgs/prof_enfer1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.prof2-img-enfe {
  background: url("./imgs/IMG_paty-oliveira.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.prof3-img-enfe {
  background: url("./imgs/prof_enfer2.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.prof1-img-este {
  background: url("./imgs/prof_este1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.prof2-img-este {
  background: url("./imgs/prof_este2.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.prof1-img-fin {
  background: url("./imgs/prof_fin.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.prof1-img-infor {
  background: url("./imgs/prof_infor1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.prof2-img-infor {
  background: url("./imgs/prof_infor2.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

@media (max-width: 1000px) {
  .curso-div {
    flex-direction: column;
    width: 98%;
  }

  .curso-left,
  .curso-right {
    width: 100%;
  }
}




/*
  --------------------------------------------- CONFIGURAÇÃO BUTÕES REDES SOCIAIS (NÃO ALTERAR!) ----------------------------------------------
*/
.social-buttons {
  position: fixed;
  bottom: 100px;
  right: 20px;
  transition: bottom 0.3s;
  /* Adicione a regra de transição aqui */
}

.social-buttons a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  background-color: #00511c;
  /* Cor do WhatsApp */
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-buttons img {
  width: 35px;
  justify-content: center;
  margin-top: 7px;
}

.social-buttons a.instagram-button {
  background-color: #00511c;
  /* Cor do Instagram */
}

.social-buttons a:hover {
  background-color: #128C7E;
  /* Cor de destaque ao passar o mouse */
}

/*--------------------------------------------- RESOLUÇÃO BUTÕES REDES SOCIAIS (NÃO ALTERAR!) -----------------------------------------*/
@media (max-width: 790px) {
  .social-buttons {
    display: none;
  }
}

/* -----------------------------------FOOTER---------------------------------------*/
footer {
  position: relative;
  background: #00511C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  padding-bottom: 13px;
  z-index: 6;
}

.div_foot {
  margin-left: 30px;
  margin-right: 30px;
}

.div_foot .titulo_endereco,
.div_foot .titulo_sobre {
  font-family: 'Bebas Neue';
  letter-spacing: 3px;
  margin-right: 5px;
  font-size: 25px;
  font-weight: 900;
  height: 20px;
}

.flex_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: 40px;
}

.flex_container h1 {
  text-align: center;
  margin-top: 7px;
  height: 50px;
}

.div_foot {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
}

.barramarelo {
  height: 25px;
  width: 5px;
  background: #FFBD00;
  margin-right: 15px;
  border-radius: 10px;
}

footer p {
  margin: 0;
  margin-top: 3px;
  font-size: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:visited {
  color: white;
  text-decoration: none;
}

#sobre {
  margin-top: 6px;
}

#endereco {
  margin-top: 6px;
}